@font-face {
    font-family: "architects_daughter";
    src: url("../public/fonts/architects_daughter/ArchitectsDaughter.ttf") format("truetype");
}

body, html {
    background-color: #f3f3f3;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.App {
    display: flex;
    flex-direction: column;
    background-color: papayawhip;
}


/*Header*/

.site-header {
    width: 100%;
    margin: -50px auto 0 auto;
    height: 50px;
    background-color: #c5376d;
    position: absolute;
    z-index: 3;
}


/*Triangle*/

.menu-toggle {
    width: 150px;
    height: 150px;
    position: relative;
    top: 40px;
    left: calc(50% - 75px);
    background: #c5376d;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

button {
    outline: none;
}


/*xTriangle*/


/*Hamburger*/

.hamburger {
    position: relative;
    left: calc(50% - 5px);
    top: 50%;
    color: papayawhip;
    transform: rotate(-45deg);
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: papayawhip;
}

.hamburger.hamburger--spin.is-active {
    outline: none;
}

.hamburger.hamburger--spin {
    outline: none;
}


/*xHamburger*/


/*Navigation*/

.slidedown-menu {
    overflow: auto;
    color: #4a4a4a;
    background: #c5376d;
    position: relative;
    z-index: 999;
    display: none;
    margin: 1% auto;
    text-align: center;
}

.slidedown-menu.active {
    display: block;
}

.site-header.visible {
    margin: 0 auto 0 auto;
    height: 2000px;
}

.nav-list {
    list-style-type: none;
    padding-left: 0;
}

.nav-list li {
    color: papaywhip;
    font-size: 2em;
    margin-bottom: 7%;
    text-transform: uppercase;
}

.nav-list li a {
    color: papayawhip;
    text-decoration: none;
    font-family: "architects_daughter";
}

.nav-list li a:hover {
    text-decoration: underline;
}


/*xNavigation*/


/*xHeader*/


/*Main*/

main {
    background-color: papayawhip;
    height: 2000px;
    width: 100%;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}

.Typist p {
    text-align: center;
    margin-top: 175px;
    font-family: "architects_daughter";
    font-size: 30px;
    line-height: 2;
    color: #c5376d;
}

.Typist p a {
    font-family: "architects_daughter";
    font-size: 28px;
    color: #c5376d;
    text-decoration: none;
}

.Typist p a:hover {
    text-decoration: underline;
}

.Cursor {
    display: none;
}


/*Portfolio*/

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    margin: 10% auto 0 auto;
    align-items: center;
}

.portfolio-item {
    margin: 0 0 20px 0;
    width: 400px;
    height: 288px;
    position: relative;
}

.portfolio-item {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.portfolio-skills {
    width: 400px;
    height: 0;
    transform: translate(0, -100%);
    background: #256a98;
    color: papayawhip;
    border-radius: 20px;
    overflow: hidden;
    transition: height 0.5s ease;
    text-align: center;
}

.portfolio-skills h2 {
    margin-top: 0;
    font-family: "architects_daughter";
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: normal;
}

.portfolio-skills p {
    font-style: italic;
}

.portfolio-skills ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-skills li {
    padding-right: 10px;
}

.portfolio-skills.active {
    height: 288px;
}

.portfolio-skills-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.portfolio-image {
    background-position: center center !important;
    background-size: contain !important;
    width: 400px;
    height: 288px;
}

.portfolio-button {
    position: absolute;
    left: 88.8%;
    bottom: 42%;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    z-index: 2;
    text-align: center;
    background-color: #c5376d;
    transition: background-color 0.1s ease-in-out;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
}

.button-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.portfolio-button.active {
    background-color: papayawhip;
    -webkit-appearance: none;
    outline: none;
}

.fa.fa-plus {
    color: papayawhip;
    font-size: 1.5em;
    line-height: 1.5em;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fa.fa-plus.active {
    color: #256a98;
    transform: rotate(224deg);
}


/*Writings*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
*, *:before, *:after {
    box-sizing: border-box;
}

.writings-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 50px auto 0;
}

.envelope {
    margin: 100px auto 140px;
    position: relative;
    width: 0;
    height: 0;
    z-index: 0;
    border-style: solid;
    border-width: 0 150px 100px 150px;
    border-color: transparent transparent #256a98 transparent;
    box-shadow: 0 100px 0 0 #256a98, 0 150px 90px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.envelope:after, .envelope:before {
    content: '';
    display: block;
    position: absolute;
    top: 100px;
    border-style: solid;
}

.envelope:after {
    width: 0;
    height: 0;
    left: 0;
    border-width: 100px 150px 100px 0;
    border-color: transparent #2a7fb5 transparent transparent;
}

.envelope:before {
    width: 210px;
    height: 180px;
    left: -150px;
    border-width: 200px 0 0 300px;
    border-color: transparent transparent transparent #3596da;
}

.card.active {
    top: -20px;
}

.card {
    width: 260px;
    height: 220px;
    position: absolute;
    top: 70px;
    left: -130px;
    z-index: -1;
    background: #dcdcdc;
    border-radius: 5px;
    transition: top 0.5s ease-in-out;
    font: bold 1.2em/1.1em 'Open Sans Condensed', sans-serif;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding: 100px 0 0 0;
    color: #919499;
}

.card p {
    margin: 0 auto;
}

.card p a {
    color: #256a98;
    font-family: "architects_daughter";
}

.heart {
    position: absolute;
    width: 100px;
    height: 90px;
    left: 80px;
    bottom: 120px;
}

.heart:before, .heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #c5376d;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}


/*Contact Form*/

.contact-page-content {
    width: 80%;
    margin: 10em auto 0;
    text-align: center;
    padding: 0 10px;
}

.contact-page-description {
    font-family: "architects_daughter";
    font-size: 20px;
    line-height: 1.75em;
    color: #c5376d;
}

.contact-page-description a {
    color: #c5376d;
    text-decoration: none;
}

.contact-page-description a:hover {
    text-decoration: underline;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 10em auto 0 auto;
    position: fixed;
    bottom: 20px;
    left: 20%;
}

.image {}

.background-container {
    width: 50px;
    height: 50px;
    background-color: #256a98;
    margin-right: 20px;
    border-radius: 50px;
}

.background-container:hover {
    background-color: #c5376d;
}

.background-container i {
    color: papayawhip;
    font-size: 2em;
    line-height: 1.5em;
    cursor: pointer;
}


/*xMain*/

@media screen and (max-width: 1130px) {
    .portfolio-container {
        margin: 15% auto 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .writings-content-wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .contact-page-content {
        width: 100%;
        margin: 8em auto 0 auto;
    }
    .contact-page-description {
        font-size: 16px;
        line-height: 1.5em;
        color: #c5376d;
    }
    .contact-form {
        margin: 5em auto 0 auto;
        width: 90%;
        left: 5%;
        bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    /*Home Page*/
    .Typist p {
        font-size: 16px;
    }
    .Typist p a {
        font-size: 14px;
    }
    /*Portfolio Page*/
    .portfolio-container {
        width: 100%;
        justify-content: space-around;
        margin-top: 32%;
        padding: 0 10px;
    }
    .portfolio-item {
        width: 270px;
        height: 190px;
    }
    .portfolio-image {
        width: 270px;
        height: 190px;
    }
    .portfolio-button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        bottom: 42.5%;
        left: 86%;
    }
    .fa.fa-plus {
        line-height: 1.3em;
    }
    .portfolio-skills {
        width: 270px;
    }
    .portfolio-skills.active {
        height: 180px;
        padding: 10px 5px;
    }
    .portfolio-skills h2 {
        font-size: 1em;
    }
    /*Writing Page*/
    .writings-content-wrapper {
        width: 100%;
    }
    /*Contact Page*/
    .background-container {
        margin-right: 0;
    }
}
